*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
convert_admin_layouts.sh
resources/views/admin/categories/create.blade.php.backup
resources/views/admin/categories/index.blade.php.backup
resources/views/admin/products/create.blade.php.backup
resources/views/admin/products/edit.blade.php.backup
resources/views/admin/products/index.blade.php.backup
resources/views/admin/purchases/create.blade.php.backup
resources/views/admin/purchases/index.blade.php.backup
resources/views/admin/purchases/show.blade.php.backup
resources/views/admin/suppliers/create.blade.php.backup
resources/views/admin/suppliers/edit.blade.php.backup
resources/views/admin/suppliers/index.blade.php.backup
resources/views/admin/users/create.blade.php.backup
resources/views/admin/users/edit.blade.php.backup
resources/views/admin/users/index.blade.php.backup
stubs/export.model.stub
stubs/export.plain.stub
stubs/export.query-model.stub
stubs/export.query.stub
stubs/import.collection.stub
stubs/import.model.stub
